:root {
    --background-primary: rgba(243, 242, 247, 255);
    --border-radius: 30px;
    --thumb-size: 24px;
    --thumb-primary-color: #0366d6;
    --thumb-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3),
        -3px 9px 9px rgba(255, 255, 255, 0.33) inset,
        -1px 3px 2px rgba(255, 255, 255, 0.33) inset,
        0 0 0 99px var(--thumb-primary-color) inset;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderContainer {
    width: 200px;
    min-height: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center normal;
}

.sliderInnerContainer {
    width: 100%;
    display: grid;
    place-items: center center;
    grid-column-start: 1;
    grid-row-start: 2;
}

.sliderProgressContainer,
.sliderBackground {
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: var(--border-radius);
}

.sliderProgressContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
}

.sliderProgress {
    height: 100%;
    border-radius: var(--border-radius);
}

.sliderBackground {
    background-color: var(--background-primary);
    z-index: -1;
}

.slider {
    grid-column-start: 1;
    grid-row-start: 1;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%;
    background: transparent;
    outline: none;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
    z-index: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: var(--thumb-size); /* Set a specific slider handle width */
    height: var(--thumb-size); /* Slider handle height */
    background: var(----thumb-primary-color);
    cursor: grab; /* Cursor on hover */
    border-radius: var(--border-radius);
    box-shadow: var(--thumb-box-shadow);
    border: 0px solid transparent;
}

.slider::-moz-range-thumb {
    width: var(--thumb-size); /* Set a specific slider handle width */
    height: var(--thumb-size); /* Slider handle height */
    background: var(----thumb-primary-color);
    cursor: grab; /* Cursor on hover */
    border-radius: var(--border-radius);
    box-shadow: var(--thumb-box-shadow);
    border: 0px solid transparent;
}

.currentValueIndicator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column-start: 1;
    grid-row-start: 1;
}

.minMaxIndicator {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.minIndicator,
.maxIndicator {
    display: flex;
    align-items: center;
}

.minIndicator {
    grid-column-start: 1;
    justify-content: flex-start;
}

.maxIndicator {
    grid-column-start: 2;
    justify-content: flex-end;
}
