:root {
    --background-primary: rgba(243, 242, 247, 255);
    --text-primary: rgba(80, 79, 86, 255);
    --indicator-text-container-background: transparent;
    --indicator-text-container-text-color: var(--text-primary);
    --indicator-text-container-scale: 1;
    --indicator-text-container-translate-Y: 0px;
    --border-radius: 30px;
    --thumb-size: 24px;
    --thumb-scale: 1;
    --thumb-primary-color: #0366d6;
    --thumb-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3),
        -3px 9px 9px rgba(255, 255, 255, 0.33) inset,
        -1px 3px 2px rgba(255, 255, 255, 0.33) inset,
        0 0 0 99px var(--thumb-primary-color) inset;
}

[slider-on-hover="true"] {
    --thumb-scale: 1.2;
    --indicator-text-container-background: var(--thumb-primary-color);
    --indicator-text-container-text-color: var(--background-primary);
    --indicator-text-container-scale: 1.1;
    --indicator-text-container-translate-Y: -10px;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
